@import '_LoginRegisterSignInPane.css';
@import '_LoginRegisterRequestPane.css';
@import '_LoginRegisterForgotPane.css';
@import '_LoginRegisterLogout.css';
@import '../libs/ladda-bootstrap/ladda-themeless.css';

.login-register .dijitStackContainer-child {
    /* required or else these are set to 0 for some reason
    maybe it's a problem with them being within another widget? */
    height: auto !important;
    width: auto !important;
}
.login-register .modal-dialog {
    width: 400px;
}
.login-register .forgot-btn {
    padding: 0;
}
.login-register .modal-footer {
    margin-top: 0;
}
.login-register .alert {
    margin: 10px 0 0 0;
    display: none;
}
.login-register .form-group.last {
    margin-bottom: 0
}
.login-register .ladda-button[data-loading] {
    padding-left: 33px;
}
.login-register .ladda-button .ladda-spinner {
    left: 0;
}

/* make work with bootstrap navbar */
.nav.navbar-nav .login-register {
    display: block;
    margin: 15px;
    color: #777;
}