@import 'LoginRegister.css';
@import '_UserAdminPendingUser.css';

.user-admin {
    padding: 0 20px 20px 20px;
}
.user-admin .input-group {
    width: 300px;
}
.user-admin .alert {
    margin-top: 10px;
    display: none;
    width: 600px;
}
.user-admin .login-register-logout {
    position: absolute;
    right: 20px;
    top: 20px;
}
.user-admin .dgrid .dgrid-column-0 {
    width: 35px;
}
.user-admin .dgrid td.dgrid-column-0 {
    text-align: center;
}
.user-admin>.btn {
    margin-top: 5px;
}