<div class="agrc" style="display: inline-block;">
    <div dojoattachpoint="container" class="widgetHidden">
        <select dojoattachpoint="unitOfMeasureNode" dojotype="dijit.form.ComboBox" dojoattachevent="onChange:changeUnit">
            <option>Feet</option>
            <option>Meters</option>
        </select>
        <div dojoattachevent="onClick: activateMeasure" dojotype="dijit.form.Button" label="Activate">
        </div>
        <div dojoattachpoint="resultContainer" style="display: inline-block; vertical-align: middle;">
        </div>
    </div>
</div>