<div>
    <div class="modal-content" data-dojo-type='dijit/layout/ContentPane'>
        <div class="modal-header">
            <h4>Sign In or 
                <!-- this is easier to style as an anchor tag rather than a button -->
                <a href="#" data-dojo-attach-event='onclick: goToRequestPane'>Request Access</a>
            </h4>
        </div>
        <div class="modal-body" data-dojo-attach-point='modalDiv'>
            <form role="form">
                <div class="form-group">
                    <label>Email address</label>
                    <input data-dojo-attach-point='emailTxt'
                        data-dojo-attach-event='onkeyup: validate'
                        type="email" class="form-control" tabindex="1">
                </div>
                <div class="form-group last">
                    <label>Password</label>
                    <input data-dojo-attach-point='passwordTxt' 
                        data-dojo-attach-event='onkeyup: validate'
                        type="password" class='form-control' tabindex="2">
                    <button type="button" class="btn btn-link forgot-btn"
                        data-dojo-attach-event='onclick: goToForgotPane'>Forgot your password?</button>
                </div>
                <div data-dojo-attach-point='errorDiv' class="alert alert-danger">
                    test message
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button data-dojo-attach-point='submitBtn'
                data-dojo-attach-event='onclick: onSubmitClick'
                type="button" 
                data-style='expand-left' 
                data-spinner-size='32' 
                class="btn btn-primary ladda-button" disabled tabindex="3">
                <span class="ladda-label">Sign In</span>
            </button>
        </div>
    </div>
</div>