<div>
    <div class="page-header">
        <h1>${title} User Administration</h1>
    </div>
    <div class="pull-right">
        <div data-dojo-attach-point="logoutDiv"></div>
    </div>

    <div data-dojo-attach-point='errMsgDiv' class="alert alert-danger"></div>

    <h3>Users Awaiting Approval</h3>
    <div data-dojo-attach-point="noUsersMsg" class="alert alert-info">
        There are no users awaiting approval.
    </div>
    <div data-dojo-attach-point="userContainer"></div>

    <h3>Delete User</h3>
    <label>Email address</label>
    <div class="input-group">
        <input type="email" data-dojo-attach-point="delEmailTxt" class="form-control">
        <span class="input-group-btn">
            <button class='btn btn-danger'>Delete</button>
        </span>
    </div>
    <div class="alert alert-danger input-group">Some fascinating error message.</div>

    <h3>Reset Password</h3>
    <label>Email address</label>
    <div class="input-group">
        <input type="email" data-dojo-attach-point="resetEmailTxt" class="form-control">
        <span class="input-group-btn">
            <button class='btn btn-warning'>Reset</button>
        </span>
    </div>
</div>