<div>
    <form data-dojo-attach-point='formRedline'>
        <div class="form-group">
            <label class="control-label" for="btn_draw">Pinpoint Issue</label>
            <div class="controls">
                <button class="btn btn-warning btn-block" type="button" data-dojo-attach-point='btnRedline'><i class="icon-pencil icon-white"> </i> Pinpoint Issue</button>
            </div>
            <label class="control-label" for="${id}_txt_description">Describe Issue:</label>
            <div class="controls">
                <input type="text" class="form-control" id="${id}_txt_description" data-dojo-attach-point="txtDescription">
                <span class="help-inline error">Required!</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-block" data-dojo-attach-point='btnSubmit'>Send</button>
                <span data-dojo-attach-point='errorMsg' class="help-inline error">Uh oh!</span>
            </div>
        </div>
    </form>
</div>