<div>
    <form data-dojo-attach-point='form_redline'>
        <div class="control-group">
            <label class="control-label" for="btn_draw">Outline Areas</label>
            <div class="controls">
                <button class="btn btn-warning" type="button"><i class="icon-pencil icon-white"> </i> Outline Issue</button>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_zone">Describe Issuen:</label>
            <div class="controls">
                <input type="text" data-dojo-attach-point="txt_description"> 
                <span class="help-inline error">Required!</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn" data-dojo-attach-point='btn_submit'>Send</button> 
                <span data-dojo-attach-point='errorMsg' class="help-inline error">Uh oh!</span>
            </div>
        </div>
    </form>
</div>